streamlit==1.16.0
pandas==1.4.4
numpy==1.21.5
seaborn==0.11.2
matplotlib==3.5.2
# sklearn==1.0.2
joblib==1.2.0
xgboost=0.9
streamlit_option_menu
# sklearn.preprocessing
# sklearn.linear_model
# sklearn.pipeline
# pprint
# sklearn.model_selection